#headerBlock {
  text-align: center;
  font-size: 150%;
  height: 35px;
}

#tag {

  border-bottom-style: solid;
  border-bottom-width: 2px;
  padding-bottom: 20px;

}

#social {
  border-bottom-style: solid;
  border-bottom-width: 2px;
  padding-bottom: 20px;
  font-size: 80%;
}
#today {

  padding-top: 20px;
  font-size: 120%;
}

#hoursoperated {
  padding-top: 20px;
  font-size: 120%;

}
.backGround {
  background-color: #f0f8ff;
  border-radius: 10px;
  padding-bottom: 10px;

}

#map_canvas {
  height: 250px;

}

#contact {

  padding-top: 20px;
  font-size: 120%;
  padding-bottom: 10px;
}

.text {
  padding-bottom: 10px;
}
.text2 {
  padding-left: 10px;
}




/*#bottomBlock {
  text-align: center;

}
.head1 {
  color:#1574c4;
  font-size: 130%;
  text-align: center;
  margin-bottom:1%;
}
.para {

  text-align: justify;
}
.notice2 {
  text-align: center;
  color: #ff0000;
}
.subHead {
  color:#1574c4;
  font-size: 90%;
  font-family: sans-serif;

} */